body {
    margin: 0;
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

img {
    display: block;
}

button {
    border-radius: 4px;
    font-family: inherit;
    cursor: pointer;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list {
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3,
p,
ul,
li {
    margin-top: 0;
    margin-bottom: 0;
}