:root {
    --primary-text-color: #212121;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-text-color: #757575;
    --primary-white-color: #ffffff;
    --background-dark-color: #2F303A;
    --background-even-section: #F5F4FA;
    --background-filter: #F5F4FA;
    --button: #2196F3;
    --active-button: #188CE8;
    --primary-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
}